@model IEnumerable<coreApparelProjectAPI2.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>*@
            <td>

                <a asp-controller="Customer" asp-action="Details" asp-route-id="@item.CustomerId"><button type="button" class="btn btn-light">Details</button></a>||
                <a asp-controller="Customer" asp-action="Edit" asp-route-id="@item.CustomerId"><button type="button" class="btn btn-light">Edit</button></a>||

                <a asp-controller="Customer" asp-action="Delete" asp-route-id="@item.CustomerId"><button type="button" class="btn btn-light">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
