@model IEnumerable<coreApparelProjectAPI2.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>*@
            <td>
                <a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId"><button type="button" class="btn btn-light">Details</button></a>||
                <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId"><button type="button" class="btn btn-light">Edit</button></a>||

                <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.ProductId"><button type="button" class="btn btn-light">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
